body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.background-hero {
  background-color: #1f2937;
}

.hero {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 10px;
}

.header-logo {
  height: 50px;
}

ul {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style: none;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-main-text-container,
.hero-image-container {
  flex: 1;
  min-width: 300px;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  font-family: "Courier New", Courier, monospace;
}

.hero-secondary-text {
  color: #e5e7eb;
  font-size: 18px;
}

button {
  background-color: #f4b459;
  padding: 10px;
  border-radius: 15px;
  border: solid white 3px;
}

.hero-image {
  width: 100%;
}

.content-one {
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 36px;
}

.four-squares-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.square {
  justify-content: center;
  width: 200px;
  text-align: center;
}

.square-pic {
  border: 3px solid #f4b459;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.square p {
  font-size: large;
}

.content-two-background {
  background-color: #e5e7eb;
  display: flex;
}

.content-two {
  margin-left: auto;
  margin-right: auto;
}

.content-two p {
  max-width: 800px;
}

.content-three {
  display: flex;
  min-height: 200px;
}

.content-container {
  display: flex;
  justify-content: space-around;
  width: 70vw;
  margin: auto;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
}

.left-text {
  color: #e5e7eb;
}

.quote {
  font-style: italic;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 28px;
}

.quoter {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  font-size: larger;
  font-weight: 900;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #e5e7eb;
}

.copyright {
  font-family: "Courier New", Courier, monospace;
}

.mywallet-background {
  background-color: #111113;
  margin-top: 5%;
}

.mywallet-background h1 {
  text-align: center;
  margin-bottom: 5%;
}
